"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""               
"    ██╗██████╗ ███████╗ █████╗ ██╗   ██╗██╗███╗   ███╗██████╗  ██████╗
"    ██║██╔══██╗██╔════╝██╔══██╗██║   ██║██║████╗ ████║██╔══██╗██╔════╝
"    ██║██║  ██║█████╗  ███████║██║   ██║██║██╔████╔██║██████╔╝██║
"    ██║██║  ██║██╔══╝  ██╔══██║╚██╗ ██╔╝██║██║╚██╔╝██║██╔══██╗██║
"    ██║██████╔╝███████╗██║  ██║ ╚████╔╝ ██║██║ ╚═╝ ██║██║  ██║╚██████╗
"    ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝
"    BahaaMohamed98
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""               

" -- options --
set scrolloff=10
set incsearch
set ignorecase
set smartcase
set ideajoin
set number
set relativenumber
set hlsearch
set notimeout

" -- plugins --
set mini-ai
set NERDTree
set surround
set which-key
set highlightedyank

" -- keymaps --

let mapleader=" "

" Window Navigation
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k

" General Mappings
nmap <C-S> :w<CR>
nmap <leader>n :noh<CR>
nmap <leader>rn :set rnu!<CR>
nmap <leader>fm <Action>(ReformatCode)
nmap <C-CR> <Action>(GotoDeclaration)

" Paste
nmap <C-S-v> <Action>(EditorPaste)
imap <C-S-v> <Action>(EditorPaste)

" default keymaps override
nmap n nzz
nmap N Nzz
nmap G Gzz

" NERDTree
nmap <C-n> :NERDTreeToggle<CR>
nmap <leader>e :NERDTreeFocus<CR>

" Find
nmap <leader>fi <Action>(Find)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fw <Action>(FindInPath)
nmap <leader>fu <Action>(FindUsages)

" diagnostics
nmap <leader>ds <Action>(FileStructurePopup)
nmap <leader>di <Action>(ShowErrorDescription)
nmap <leader>da <Action>(ShowIntentionActions)
nmap <leader>df <Action>(ActivateProblemsViewToolWindow)
nmap <leader>dn <Action>(GotoNextError)
nmap <leader>dp <Action>(GotoPreviousError)

" Find and Replace
nmap <leader>rf <Action>(Replace)
vmap <leader>rf <Action>(Replace)
nmap <leader>rp <Action>(ReplaceInPath)
vmap <leader>rp <Action>(ReplaceInPath)

" rename
nmap <leader>ra <Action>(RenameElement)

" todo
nmap <leader>td <Action>(ActivateTODOToolWindow)

" change signature
nmap <leader>cs <Action>(ChangeSignature)

" Commenting
nmap <leader>/ <Action>(CommentByLineComment)
vmap <leader>/ <Action>(CommentByLineComment)

" Buffer management
nmap <C-]> :tabn<CR>
nmap <C-[> :tabp<CR>
nmap <leader>x :bd<CR>

" Split management
nmap <leader>sx :close<CR>
nmap <leader>sh :split<CR>
nmap <leader>sv :vsplit<CR>

" Insert mode keymaps
imap <C-h> <Left>
imap <C-j> <Down>
imap <C-k> <Up>
imap <C-l> <Right>

" Yank to system clipboard
nmap <C-c> :%y+<CR>
map <leader>y "+y
nmap <leader>Y "+y$

" .ideavimrc
nnoremap ve :e ~/.ideavimrc<CR>
nnoremap vr :action IdeaVim.ReloadVimRc.reload<CR>

" git
nmap <leader>gp <Action>(Vcs.Push)
nmap <leader>gu <Action>(Vcs.UpdateProject)
nmap <leader>gc <Action>(ActivateCommitToolWindow)
nmap <leader>gs <Action>(ActivateVersionControlToolWindow)

" debugger
map <leader>dr <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
