[user]
	name = Bahaa Mohamed
	email = bahaa-dev@proton.me
	signingkey = 7427A4ABCCFD30AB
[core]
	pager = delta
	autocrlf = input
[init]
	defaultbranch = main
[commit]
	gpgsign = true
[diff]
	algorithm = histogram
[delta]
    dark = true
    navigate = true
    hunk-header-style = syntax
[credential "https://github.com"]
	helper = !/usr/bin/env gh auth git-credential
