- name: Install SDKMAN
  shell: curl -s "https://get.sdkman.io" | bash
  args:
    executable: /bin/bash
    creates: "{{ sdkman_dir }}/bin/sdkman-init.sh"

- name: Install Java via SDKMAN
  shell: |
    source {{ sdkman_dir }}/bin/sdkman-init.sh
    sdk install java
  args:
    executable: /bin/bash
    creates: "{{ sdkman_dir }}/candidates/java/current"
