- name: Install flatpak
  apt:
    name: flatpak
    state: present
  become: true

- name: Add Flathub repository
  community.general.flatpak_remote:
    name: flathub
    flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
    state: present

- name: Install applications via flatpak
  community.general.flatpak:
    name:
      - com.discordapp.Discord
      - com.getpostman.Postman
      - app.zen_browser.Zen
      - com.rtosta.zapzap
      - org.localsend.localsend_app
      - io.dbeaver.DBeaverCommunity
    state: present
