- name: Download Proton VPN repository package
  get_url:
    url: https://repo.protonvpn.com/debian/dists/stable/main/binary-all/protonvpn-stable-release_1.0.8_all.deb
    dest: /tmp/protonvpn.deb
    mode: "0644"

- name: Install Proton VPN repository package
  apt:
    deb: /tmp/protonvpn.deb
    state: present
  become: true

- name: Install Proton VPN GNOME Desktop
  apt:
    name: proton-vpn-gnome-desktop
    state: present
    update_cache: true
  become: true
