- name: Clone wallpapers repository
  git:
    repo: "{{ wallpapers_repo }}"
    dest: "{{ wallpapers_dir }}"
    version: main

- name: Run dotfiles link script
  command: bash {{ dotfiles_dir }}/link.sh
  args:
    chdir: "{{ dotfiles_dir }}"
  changed_when: false
