- name: Install ufw
  apt:
    name: ufw
    state: present
  become: true

- name: Configure ufw defaults - deny incoming
  ufw:
    direction: incoming
    policy: deny
  become: true

- name: Configure ufw defaults - allow outgoing
  ufw:
    direction: outgoing
    policy: allow
  become: true

- name: Allow LocalSend UDP
  ufw:
    rule: allow
    port: "53317"
    proto: udp
  become: true

- name: Allow LocalSend TCP
  ufw:
    rule: allow
    port: "53317"
    proto: tcp
  become: true

- name: Enable ufw
  ufw:
    state: enabled
  become: true

- name: Enable ufw service
  systemd:
    name: ufw
    enabled: true
    state: started
  become: true
