[Desktop Entry]
Name=Portainer
Comment=Manage Docker visually
Exec=bash -c "docker start portainer >/dev/null 2>&1; xdg-open https://localhost:9443"
Icon=docker
Type=Application
Categories=Development;Utility;
Terminal=false
